<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
        <div class='row'>
            <div class='col-lg-3' id='left'>
                <%- include('./partials/global/menu.ejs') -%>
            </div>
            <div class='col-lg-6'>
                

            </div>
            <div class='col-lg-3'>
            </div>
        </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>