<div id='menu'>
    <% if(currentUser.role === "Admin"){ %>
        <div class='menu-link main'>
            <a href='/dashboard'>Dashboard</a>
        </div>
        <div class='menu-link'>
            <span class='menu-title'>DTS | DAILY TIME SHEET</span>
        </div>
        <div class='menu-link sub'>
            <a href='/timesheets'>DTS Entry</a>
        </div>
        <div class='menu-link sub'>
            <a href='/timesheetreporting'>DTS Reporting</a>
        </div>
        <div class='menu-link'>
            <span class='menu-title'>PAYROLL</span>
        </div>
        <div class='menu-link sub'>
            <a href='/viewpayroll'>View Invoices</a>
        </div>
        <div class='menu-link sub'>
            <a href='/uploadPayroll'>Upload Invoice</a>
        </div>
        <div class='menu-link sub'>
            <a href='/sow'>Manage SOWs</a>
        </div>
        <div class='menu-link'>
            <span class='menu-title'>TICKETS</span>
        </div>
                <div class='menu-link sub'>
                    <a href='/ticketentry'>Enter Ticket</a>
                </div>
                <div class='menu-link sub'>
                    <a href='/ticketreporting'>Review Tickets</a>
                </div>
        <div class='menu-link'>
            <span class='menu-title'>DCA</span>
        </div>
                <div class='menu-link sub'>
                    <a href='/dca'>DCA Scheduling</a>
                </div>
        <div class='menu-link'>
            <span class='menu-title'>MANAGE</span>
        </div>
            <div class='menu-link sub'>
                <a href='/manage'>AERS</a>
            </div>
            <div class='menu-link sub'>
                <a href='/candidates'>CMS</a>
            </div>
            <div class='menu-link sub'>
                <a href='/clients'>Clients</a>
            </div>
            <div class='menu-link sub'>
                <a href='/submissions'>Submission Types</a>
            </div>
            <div class='menu-link sub'>
                <a href='/servicetype'>Service Types</a>
            </div>
            <div class='menu-link sub'>
                <a href='/alerts'>Alerts</a>
            </div>
            <div class='menu-link sub'>
                <a href='/banner'>Main Content & Image</a>
            </div>
            <div class='menu-link sub'>
                <a href='/links'>Important Links</a>
            </div>
            <div class='menu-link sub'>
                <a href='/pdfs'>PDF Links</a>
            </div>
    <% } else { %>
        <div class='menu-link main'>
            <a href='/dashboard'>Dashboard</a>
        </div>
        <div class='menu-link main'>
            <a href='/timesheets'>DTS | Daily Time Sheet</a>
        </div>
        <div class='menu-link main'>
            <a href='/viewpayroll'>Payroll Invoices</a>
        </div>
        <div class='menu-link main'>
            <a href='/viewsow'>View SOWs</a>
        </div>
        <div class='menu-link main'>
            <a href='/ticketentry'>Enter Ticket</a>
        </div>
        <div class='menu-link main'>
            <a href='/ticketreporting'>Ticket Status</a>
        </div>
        <div class='menu-link main'>
            <a href='/dca'>DCA Scheduling</a>
        </div>
    <% } %>
</div>