<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <div class='col-lg-5' id='right'>
                    <h1>This is the dashboard</h1>
                </div>
                <div class='col-lg-5'></div>
            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>