a {
    text-decoration: none!important;
}

.action {
    width: 20px!important;
    text-align: center!important;
    padding: 0px 3px;
}

#add {
    margin-top: 25px;
}

.alert-preview {
    width: 100%;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px gray;
    background: lightblue;
    color: darkblue;
}

#background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: 95% 20%;
    min-height: 100vh;
}

#banner {
    height: 150px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px gray;
    overflow: hidden;
}

body {
    font-weight: 300;
    padding: 0px!important;
}

button {
    background:rgb(199, 0, 0);
    color: white;
    padding: 5px 30px;
    border: none;
    border-radius: 25px;
    /* box-shadow: 3px 3px 10px 0px gray; */
}

#clear {
    width: 200px;
}

.date, .time , .cspid, .name, .type {
    width: 150px!important;
}

#date {
    font-size: 24px;
}

#date-box {
    width: 100%;
    background-color: rgb(199, 0, 0)!important;
    color: white;
    height: auto;
    padding: 5px 20px;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: right;    
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
}

#deleteButton {
    margin: 0px;
    padding: 0px;
    color: red;
    font-size: 12px;
}

.email {
    width: 300px;
}

#filter-employee {
    width: 20%;
    margin: 10px 0px;
}

.fa-sign-out-alt {
    font-size: 20px;
    color: white;
}

.hide {
    display: none;
}

html {
    padding: 0px!important;
}

.label {
    font-weight: bold;
    padding-right: 20px;
}

#left {
    background: whitesmoke;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
    background: black;
    border-right: 1px solid lightgray;
}

#login {
    width: 20%;
    height: auto;
    padding: 20px;
    border: 1px solid lightgray;
    margin: 25px auto;
    box-shadow: 0px 0px 20px black;
    background: white;
}

#logo {
    width: 50%;
    margin: auto;
}

.logo-container {
    width: 100%;
    text-align: center;
}

.main {
    font-weight: bold;
}

#menu {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.menu-link {
    padding: 10px 0px;
    z-index: 10;
    font-size: 12px;
    letter-spacing: 1px;
}

.menu-link a {
    color: white;
    text-transform: uppercase;
}

.menu-title {
    font-weight: bold;
    width: 100%;
}

.navbar {
    box-shadow: 0px 2px 10px 2px black;
    width: 100%;
    z-index: 5;
    background-color: rgb(199, 0, 0)!important;
}

.nav-link {
    color: white!important;
}
.navbar-brand {
    color: white!important;
    font-weight: 600;
}

.padding-left {
    padding-left: 10px;
    padding-right: 5px;
}

.payPeriod {
    width: 200px;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

#right {
    padding-top: 100px;
}

.row {
    margin: 0px!important;
}

.secondary-menu-link {
    padding: 10px 10px 10px 30px;
    z-index: 10;
}

.secondary-menu-link a {
     color: gray;
}

.sub {
    padding-left: 20px;
}

#submit {
    margin-top: 25px;
    margin-bottom: 100px;
}

.question-title {
    font-weight: bold;
    margin-top: 20px;
}

.section {
    /* margin-top: 30px; */
}

table {
    margin-left: 10px;
    font-size: 12px;
}

table i {
    font-size: 15px;
    padding: 0px 5px;
}

th {
    text-decoration: underline;
    padding-bottom: 10px;
}

#timesheetForm {
    /* margin-bottom: 100px; */
}

#timesheets, #payroll {
    width:auto;
    font-size: 12px;
}

.timesheet-layout {
    border: 1px solid lightgray;
    margin-top: 20px;
}

.timesheet-body {
    padding: 25px;
}

.timesheet-content {
    padding: 20px;
}

.timesheet-header {
    background: lightgray;
    color: black;
    padding: 10px;
}

.title {
    font-size: 24px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    background-color: rgb(199, 0, 0)!important;
    color: white;
    height: auto;
    padding: 5px 20px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
}

.tooltiptd {
    width: 150px;
    padding: 10px 5px;
}

#validation {
    background: lightgray;
    color: black;
    font-weight: 400;
    padding: 20px;
}

#welcome {
    margin-right: 100px;
    color: white;
}

.widget {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.widget img {
    width: 100%;
}

.widget-header {
    font-size: 20px;
    font-weight: bold;
}