<% banners.forEach(function(banner){ %>
    <% if (banner.title != null){ %>
        <div class='widget'>
            <div class='widget-header'><%= banner.title %></div>
            <hr>
            <p><%= banner.content %></p>
        </div>
    <% } %>
<% }) %>
