<div class='widget'>
    <div class='widget-header'>The Benefits of the APBDE Daily Time Sheet (DTS)</div>
    <hr>
    <p>The DTS can be used for documentation purposes in the event of discrepencies with pay or hours/intervals serviced. This information will be used in conjunction with reports generated from Starmatic.</p>
    <p><b>For a more in depth example:</b> If you have a direct deposit, invoice, or commitment adherence issue, we utilize what is submitted through your DTS as an additional means of coverage on your behalf should we ever need to address. This extra form of security can only be utilized in your favor if it is submitted daily and accurately. Each agent is responsible for accurately reporting their own schedule as a backup system check, so that the Payroll Department will be able to ensure that all agents recieve correct pay.</p>
</div>