<div class='widget'>
    <img src='./images/mission.jpeg'>
    <!-- <div class='widget-header'>APBDE Mission Statement</div>
    <hr>
    <p>APBDE is a company designed for you to shine; An equal opportunity employer who is dedicated to bringing forth and nourishing the best in each employee. We will coporately push towards meeting and exceeding full potential while housing the path for all dymonds to achieve success.</p> -->
</div>