<div class='widget'>
    <div class='widget-header'>Important Documents</div>
    <hr>
    <ul>
        <% pdfs.forEach(function(pdf){ %>
            <li><a href='<%= pdf.attachment %>'>
                    <%= pdf.title %>
                </a></li>
            <% }) %>
    </ul>
</div>