<div class='section'>
    <div class='row'>
        <div class='col-lg-6'>
            <table class='timesheetClass'>
                <tr class='label'>
                    <td>Did you pick up any Urgent Service hours/intervals today?</td>
                </tr>
                <tr>
                    <td>
                        <%= timesheet.urgent %>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>