<div class='section'>
    <div class='row'>
        <div class='col-lg-6'>
            <table class='timesheetClass'>
                <tr class='label'>
                    <td>Which Urgent Service hours/intervals did you service today?</td>
                </tr>
                <tr>
                    <td>
                        <%= timesheet.timesheetHours %>
                    </td>
                </tr>
                <tr class='label'>
                    <td>What is the total number of Urgent Service hours/intervals you serviced today?</td>
                </tr>
                <tr>
                    <td>
                        <%= timesheet.totalHours %>
                    </td>
                </tr>
                <tr class='label'>
                    <td>Validation Statement</td>
                </tr>
                <tr>
                    <td>
                        <%= timesheet.validation %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>