<div class="form-group" id='additionalInfo'>
    <label>Is there any information you would like to share with us pertaining to your training class?</label>
    <textarea type="text" class="form-control" name="additionalInfo" placeholder=''></textarea>
</div>