<div class="form-group" id='additionalNotes'>
    <label required>Any additional notes for the Payroll Department pertaining to this day?</label>
    <textarea type="text" class="form-control" placeholder=''></textarea>
</div>