<div class="form-group" id='additionalDetails'>
    <label>Please provide any additional details regarding your service request or ticket</label>
    <div class='small'>Please include as much information as possible in this field to assist with the handling of your ticket.</div>
    <textarea type="text" class="form-control" name="additionalDetails" placeholder=''></textarea>
</div>