<div class="form-group" id='cTime'>
    <label required>What is your class time?</label>
    <select class="form-control" id="classTime" name='classTime'>
        <option value=''>Select a time</option>
        <option value='8:00am - 12:00pm'>8:00am - 12:00pm</option>
        <option value='9:00am - 12:00pm'>9:00am - 12:00pm</option>
        <option value='9:00am - 1:00pm'>9:00am - 1:00pm</option>
        <option value='9:00am - 3:00pm'>9:00am - 3:00pm</option>
        <option value='10:00am - 2:00pm'>10:00am - 2:00pm</option>
        <option value='1:00pm - 4:00pm'>1:00pm - 4:00pm</option>
        <option value='1:30pm - 5:30pm'>1:30pm - 5:30pm</option>
        <option value='2:00pm - 6:00pm'>2:00pm - 6:00pm</option>
        <option value='3:00pm - 6:00pm'>3:00pm - 6:00pm</option>
        <option value='3:00pm - 7:00pm'>3:00pm - 7:00pm</option>
        <option value='3:00pm - 8:00pm'>3:00pm - 8:00pm</option>
        <option value='4:00pm - 8:00pm'>4:00pm - 8:00pm</option>
        <option value='4:00pm - 10:00pm'>4:00pm - 10:00pm</option>
        <option value='6:00pm - 10:00pm'>6:00pm - 10:00pm</option>
        <option value='7:00pm - 10:00pm'>7:00pm - 10:00pm</option>
        <option value='7:00pm - 11:00pm'>7:00pm - 11:00pm</option>
    </select>
    <small class="form-text text-muted">All client class times are listed in Eastern Standard Time (EST) on
            the the Arise portal. Please select your class time in Eastern Standard Time (EST) Only</small>
</div>