<div class="form-group" id='didYouAttend'>
    <label required>Did you attend class?</label><br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="attend" value="Yes, I was in class today (100% attendance)">
        <label class="form-check-label">
            Yes, I was in class today (100% attendance)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="attend" value="I missed some class today">
        <label class="form-check-label">
            I missed some class today
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="attend" value="I missed a majority of class today">
        <label class="form-check-label">
            I missed a majority of class today
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="attend" value="No, I was absent today" >
        <label class="form-check-label">
            No, I was absent today
        </label>
    </div>
</div>