<div class="form-group" id='didYouRecieve'>
    <label>Did you receive a ticket/incident number from AVA/Tech Support today?</label><br>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="recieveTicket" value="Yes">
        <label class="form-check-label" for="exampleRadios1">
            Yes
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="recieveTicket" value="No">
        <label class="form-check-label" for="exampleRadios2">
            No
        </label>
    </div>
</div>
<div class="form-group hide" id='ticketNumber'>
    <input type="text" class="form-control" name="ticketNumber" placeholder='Ticket/Incident Number'>
</div>