<div class="form-group" id='explainIssue'>
    <label>Explain the technical issue you are experiencing</label>
    <textarea type="text" class="form-control" name='explainIssue' placeholder=''></textarea>
</div>