<div class="form-group" id='howWasClass'>
    <label for="howwasclass" required>How did class go?</label><br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="howWasClass" value="Great! I'm learning a lot.">
        <label class="form-check-label">
            Great! I'm learning a lot.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="howWasClass" value="It's okay...still trying to figure things out">
        <label class="form-check-label">
            It's okay...still trying to figure things out
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="howWasClass" value="Not good...I'm having trouble">
        <label class="form-check-label"s>
            Not good...I'm having trouble
        </label>
    </div>
</div>