<div class="form-group" id='missedClassDate'>
<label>Missed Submsission Date</label><br>
<div class="input-group date" data-provide="datepicker">
    <input type="date" name='missedClassDate' class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
</div>