<div class="form-group" id='clientName' hidden>
    <label required>Ticket Status</label>
    <select name='status' class="form-control" required>
        <option selected>Open</option>
        <option>Close</option>
        <option>Pending Resolution</option>
    </select>
</div>