<div class="form-group" id='ticketNumber'>
    <label>Please provide any applicable incident numbers assigned by Arise Tech Support via AVA</label>
    <div class='small'>If your ticket does not include any incident numbers then please leave this field blank.</div>
    <input type="text" class="form-control" name="ticketNumber" placeholder='Incident Number'>
</div>