<div class="form-group" id='dateofentry'>
    <label>Time of Ticket Entry</label><br>
    <div class="input-group date" data-provide="datepicker">
            <%  var date = new Date();
                var day = date.getDate(),
                month = date.getMonth() + 1,
                year = date.getFullYear(),
                hour = date.getHours(),
                min  = date.getMinutes();

                month = (month < 10 ? "0" : "") + month;
                day = (day < 10 ? "0" : "") + day;
                hour = (hour < 10 ? "0" : "") + hour;
                min = (min < 10 ? "0" : "") + min;
                var today = year + "-" + month + "-" + day,
                now = hour + ":" + min; %>
            <input type="time" name='timeofentry' class="form-control" value='<%= now %>' readonly>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
    </div>
</div>