<div class="form-group" id='totalHours'>
    <label for="submission" required>What is the total number of hours/intervals you serviced today?</label>
    <select class="form-control" name='totalHours' id="submission">
        <option value=''>Select One</option>
        <option value='30 mins (1 Interval)'>30 mins (1 Interval)</option>
        <option value='1 hours (2 Intervals)'>1 hours (2 Intervals)</option>
        <option value='1 hours 30 mins (3 Intervals)'>1 hours 30 mins (3 Intervals)</option>
        <option value='2 hours (4 Intervals)'>2 hours (4 Intervals)</option>
        <option value='2 hours 30 mins (5 Intervals)'>2 hours 30 mins (5 Intervals)</option>
        <option value='3 hours (6 Intervals)'>3 hours (6 Intervals)</option>
        <option value='3 hours 30 mins (7 Intervals)'>3 hours 30 mins (7 Intervals)</option>
        <option value='4 hours (8 Intervals)'>4 hours (8 Intervals)</option>
        <option value='4 hours 30 mins (9 Intervals)'>4 hours 30 mins (9 Intervals)</option>
        <option value='5 hours (10 Intervals)'>5 hours (10 Intervals)</option>
        <option value='5 hours 30 mins (11 Intervals)'>5 hours 30 mins (11 Intervals)</option>
        <option value='6 hours (12 Intervals)'>6 hours (12 Intervals)</option>
        <option value='6 hours 30 mins (13 Intervals)'>6 hours 30 mins (13 Intervals)</option>
        <option value='7 hours (14 Intervals)'>7 hours (14 Intervals)</option>
        <option value='7 hours 30 mins (15 Intervals)'>7 hours 30 mins (15 Intervals)</option>
        <option value='8 hours (16 Intervals)'>8 hours (16 Intervals)</option>
        <option value='9 hours 30 mins (17 Intervals)'>9 hours 30 mins (17 Intervals)</option>
        <option value='9 hours (18 Intervals)'>9 hours (18 Intervals)</option>
        <option value='9 hours 30 mins (19 Intervals)'>9 hours 30 mins (19 Intervals)</option>
        <option value='10 hours (20 Intervals)'>10 hours (20 Intervals)</option>
        <option value='10 hours 30 mins (21 Intervals)'>10 hours 30 mins (21 Intervals)</option>
        <option value='11 hours (22 Intervals)'>11 hours (22 Intervals)</option>
        <option value='11 hours 30 mins (23 Intervals)'>11 hours 30 mins (23 Intervals)</option>
        <option value='12 hours (24 Intervals)'>12 hours (24 Intervals)</option>
        <option value='12 hours 30 mins (25 Intervals)'>12 hours 30 mins (25 Intervals)</option>
        <option value='13 hours (26 Intervals)'>13 hours (26 Intervals)</option>
        <option value='13 hours 30 mins (27 Intervals)'>13 hours 30 mins (27 Intervals)</option>
        <option value='14 hours (28 Intervals)'>14 hours (28 Intervals)</option>
        <option value='14 hours 30 mins (29 Intervals)'>14 hours 30 mins (29 Intervals)</option>
        <option value='15 hours (30 Intervals)'>15 hours (30 Intervals)</option>
        <option value='15 hours 30 mins (31 Intervals)'>15 hours 30 mins (31 Intervals)</option>
        <option value='16 hours (32 Intervals)'>16 hours (32 Intervals)</option>
        <option value='16 hours 30 mins (33 Intervals)'>16 hours 30 mins (33 Intervals)</option>
        <option value='17 hours (34 Intervals)'>17 hours (34 Intervals)</option>
        <option value='17 hours 30 mins (35 Intervals)'>17 hours 30 mins (35 Intervals)</option>
        <option value='18 hours (36 Intervals)'>18 hours (36 Intervals)</option>
        <option value='18 hours 30 mins (37 Intervals)'>18 hours 30 mins (37 Intervals)</option>
        <option value='19 hours (38 Intervals)'>19 hours (38 Intervals)</option>
        <option value='19 hours 30 mins (39 Intervals)'>19 hours 30 mins (39 Intervals)</option>
        <option value='20 hours (40 Intervals)'>20 hours (40 Intervals)</option>
    </select>
</div>