<div class="form-group" id='validation'>
<label>Validation Statement</label>
<div class="form-check">
    <input class="form-check-input" name='validation' type="checkbox" value="Confirmed">
    <label class="form-check-label">
        I confirm that the information submitted on this DTS is valid and accurate.
    </label>
</div>
</div>